// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input, textarea{
  padding-left:10px;
}

.m20 {
  margin-bottom:20px;
}

.border1px {
  border:solid 1px
}

.overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
